.content {
    width: 75%;
}

// First-page profile image
.main-img {
  float: left;
  width: 13em;
  padding-bottom: 30px;
  margin-right: 5%;
  max-width: 100%;
  min-width: 25%;
}

article {
  background-color: white;
}
